* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #a30051 0%, #fd007f 99%);
}

.childDiv {
    text-align: center;
    margin: auto;
    margin-top: 15vh;
    background-color: white;
    width: 30%;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 1px 1px #a30051;
    margin-bottom: 30px;
}

.childDiv input {
    width: 100%;
    min-height: 40px;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 7px;
}

.childDiv button {
    background: linear-gradient(90deg, #a30051 0%, #fd007f 99%);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    width: 150px;
    min-height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
}

.childDiv button:hover {
    box-shadow: 2px 2px 5px black;
}

.childDiv button:active {
    border: 2px solid black;
}

.childDiv span {
    font-size: small;
    margin-top: 10px;
    color: red;
}

.navbar {
    background-color: rgb(27, 27, 27);
    padding: 20px;
}

.MainProductDiv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#searchInp {
    width: 50%;
    height: 40px;
    margin-left: 30px;
    border-radius: 7px;
    padding-left: 50px;
    border: 2px solid black;
    background-color: white;
    box-shadow: inset 0px 0px 10px black;
    background-image: url("https://i.pinimg.com/736x/fa/0e/7b/fa0e7b992eff03c576727e95c746005c.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 5px;

}

.ProductDiv {
    background-color: white;
    width: 330px;
    padding: 13px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2px solid black;
}

#img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

#title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding-top: 10px;
}

#price {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding-top: 10px;
}

#description {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 5px;
}